.item-text-container
  display: inline-block
  background: rgba(0, 0, 0, 0.3)
  padding: 4px 5px 2px 5px
  line-height: 15px
  border-radius: 10px

.item-text
  font-size: 1.1em

img.cover
  width: 18px
  height: auto
  margin-left: 5px
  // border-radius: 2px

.spotify-logo
  width: 15px
  margin-right: 5px
