@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap')
.summary-container
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 20px

.summary
  font-family: 'Josefin Sans', sans-serif
  font-size: .9em
  width: 90%
  max-width: 450px
  p
    margin: 5px

.summary-header
  margin-top: 0px
  margin-bottom: 5px

.summary-header span.me
  font-weight: bold
  color: #fff
  padding: 10px 8px
  font-family: 'Lato', sans-serif
  background: #1ED760
  background-image: linear-gradient(43deg, #1ED760 0%, #1ED760 46%, #1ED760 100%)
  border-radius: 50%
  margin-bottom: 20px

.summary-header small
  opacity: .5

h3, h5
  margin: 0em
  padding: .2em

.time-header
  font-size: 1em
  font-weight: bold
  margin-bottom: 0.5em
small
  font-size: 0.7em
  font-weight: normal
  opacity: 0.5

.primary-button
  display: flex
  align-items: center
  background: #1DB954
  color: #fff
  padding: 10px
  border-radius: 30px
  border: none
  font-size: 14px
  font-weight: bold
  cursor: pointer
  &:hover
    background: #159B3D

  img
    padding-bottom: 2px
    margin-left: 5px

.start
  display: flex
  justify-content: center
  width: 100%

  .container
    display: flex
    flex-direction: column
    align-items: center
    width: 90%
    max-width: 450px
    margin: 0
    position: absolute
    top: 50%
    left: 50%
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)

  .description
    font-size: .9em
    margin-top: 0.5em
    margin-bottom: 0.5em
    text-align: center
    line-height: 1.5em

  .disclaimer
    font-size: .6em
    opacity: 0.5
    margin-top: 1em
    line-height: 1.5em

//screenshot classes
.hide
  display: none
.screenshot
  width: 450px
  padding-top: .5em
  padding-bottom: .5em
  background-color: #1f1f1f
  .display-on-screenshot
    &.block
      display: block
    &.flex
      display: flex
  .hide-on-screenshot
    display: none
