.navbar
  display: flex
  justify-content: space-between
  padding: 0 20px
  text-align: center
  margin-bottom: .5em

  div
    font-size: .9em
    width: 50%
    cursor: pointer

  .left
    display: flex
    align-items: center
    justify-content: center

  .right
    display: flex
    align-items: center
    justify-content: center
