a
  text-decoration: none

div.has-images
  height: 180px

.showcase
  max-width: 450px
  height: 65px
  max-height: 180px
  background: #1f1a1a
  padding: 15px 20px 0px 20px
  border-radius: 10px
  margin-bottom: 20px

  .head-text
    font-size: 1.6em
    font-weight: bold
    color: #fff
    padding: 10px 0
    margin: 0 auto
    width: 100%
    text-decoration: none
    font-family: 'Lato', sans-serif
  .showcase-images
    img
      width: 22%
      margin-right: 3%
      height: auto
    img:last-child
      -webkit-mask-image: -webkit-gradient(linear from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
      mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0))

.background-1
  background-color: #4158D0
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%)

.background-2
  background-color: #0093E9
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%)

.background-3
  background-color: #FBAB7E
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%)

.background-4
  background-color: #85FFBD
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%)

.background-5
  background-color: #00DBDE
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%)

.background-6
  background-color: #FF9A8B
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%)

.background-7
  background-color: #FF9A8B
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%)

.background-8
  background-color: #52ACFF
  background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%)

.background-9
  background-color: #FAD961
  background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%)
